legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

.btn-outline-primary{
    border-color: #4a6aa4;
    background-color: #4a6aa4;
}

.btn-block{
    border-color: #4a6aa4;
    background-color: #4a6aa4;
}

.btn-primary{
    background-color: #4a6aa4;
    border-radius: 5%;
}

.btn-primary:active,
.btn-primary:hover {
    background: #7b98d6;
    color: #fff;
}

.float-right{
    color: white;
}

.thread-container{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

textarea{
    resize: vertical;
}