legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

.btn-outline-primary{
    border-color: #2D3649;
    background-color: #2D3649;
}

.btn-block{
    border-color: #2D3649;
    background-color: #2D3649;
}

.float-right{
    color: white;
}
