legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

.border-top{
    color: #4a6aa4;
}

.btn-primary{
    background-color: #4a6aa4;
    border-color: #4a6aa4;
}