legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

.forum-title{
    text-transform: unset;
}

.forum-by{
    font-size: 125%;
    padding-bottom: 1%;  
}

.media-heading{
    text-transform: unset;
}

.new-post{
    padding-bottom: 10%;
}

.new-post-title{
    color: white;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 145%;
}

.post-button{
    padding-top: 1%;
}

.page-title{
    padding-bottom: 2%;
}

.content{
    padding-top: 2%;
}